@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-move-up-1
{
    animation: animation__move__up 1.8s ease-out forwards ;
}
.animation-move-up-2
{
    animation: animation__move__up 2.4s ease-out forwards ;
}
.animation-move-up-3
{
    animation: animation__move__up 3s ease-out forwards ;
}

@keyframes animation__move__up {
    0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
    
  }